<div container class="page">
    <div row *ngIf="error">
        <div col>{{error}}</div>
    </div>
    <div>
        <div row class="pb-4">
            <h2 col>Neue Buchung vornehmen</h2>
        </div>
        <form (ngSubmit)="submit()">
            <div row>
                <div class="col-12 col-md-6">
                    <mat-form-field class="" appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput required placeholder="" type="text" [(ngModel)]="buchung.name" name="name">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="" appearance="fill">
                        <mat-label>Datum</mat-label>
                        <input matInput required [matDatepicker]="picker" placeholder="DD.MM.YYYY" [(ngModel)]="buchung.datum" name="datum">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div row>
                <div class="col">
                    <mat-form-field class="" appearance="fill">
                        <mat-label>Beschreibung</mat-label>
                        <textarea matInput [(ngModel)]="buchung.beschreibung" name="beschreibung"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div row>
                <div class="col">
                    <button type="button"  mat-raised-button (click)="fileInput.click()" color="primary">
                        <mat-progress-bar mode="determinate" [hidden]="!uploadProgress" [value]="uploadProgress" class="mt-n1 mx-2 px-0"></mat-progress-bar>
                        Beleg hochladen
                    </button>
                    <input hidden (change)="onSelectionChangedEvent($event)" #fileInput multiple type="file" id="file">
                </div>
            </div>
            <div row *ngFor="let beleg of buchung.belege">
                <div class="col-3">
                    {{beleg.filename}}
                </div>
                <div class="col-3">
                    <button type="button" mat-stroked-button (click)="downloadFile(beleg)" color="primary"><mat-progress-bar mode="determinate" [hidden]="!downloads[beleg.uuid]?.progress" [value]="downloads[beleg.uuid]?.progress" class="mt-n1 mx-0 px-0"></mat-progress-bar>Download</button>
                    <a hidden [href]="downloads[beleg.uuid]?.localUrl" [download]="downloads[beleg.uuid]?.filename" [id]="'dl-'+beleg.uuid" target="_blank">Save</a>
                    <button type="button" mat-stroked-button (click)="deleteFile(beleg)" color="warn">Löschen</button>
                    
                </div>
                <div class="col-6">
                    {{beleg.beschreibung}}
                </div>
            </div>
            <div row>
                <div class="col-12 col-md-6">
                    <mat-form-field class="" appearance="fill">
                        <mat-label>Betrag</mat-label>
                        <input matInput currencyMask required placeholder="0 €" [options]="{prefix: '', suffix: ' €', allowNegative: false}" [(ngModel)]="buchung.betrag" name="betrag">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6 pt-2 pt-md-4 pb-2 mt-0 pl-4">
                    <mat-label class="pr-2">Ausgabe</mat-label>
                    <mat-slide-toggle color="primary" [(ngModel)]="ausgabeEinnahme" name="ausgabeEinnahme"></mat-slide-toggle>
                    <mat-label class="pl-2">Einnahme</mat-label>
                </div>
            </div>
            <div row>
                <div class="col-12 col-md-6">
                    <app-konto-selector label="Konto - {{ausgabeEinnahme?'HABEN':'SOLL'}}" [(konto)]="buchung.hauptkonto"></app-konto-selector>
                </div>
                <div class="col-12 col-md-6">
                    <app-konto-selector label="Gegenkonto - {{!ausgabeEinnahme?'HABEN':'SOLL'}}" [(konto)]="buchung.gegenkonto" standardKonto></app-konto-selector>
                    <!-- <mat-label>{{standardGegenkonto | konto}}</mat-label> -->
                </div>
            </div>
            <div row>
                <div col>
                    <button mat-raised-button class="row col-10 col-sm-6 col-lg-3" color="primary" type="submit">Buchen</button>
                </div>
            </div>
        </form>
    </div>
</div>