<div container class="page">
    <div row *ngIf="error">
        <div col>{{error}}</div>
    </div>
    <div row *ngIf="loading" class="mt-n1">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div>
        <div row class="pb-4">
            <h2 class="col-12 col-md-9">Buchung</h2>
            <div col></div>
            <a [hidden]="!disabled" mat-raised-button class="row col-12 col-md-2" color="primary" (click)="edit()">Edit</a>
            <a [hidden]="disabled || !buchung.buchungsnummer" mat-raised-button class="row col-12 col-md-2" color="warn" (click)="cancel()">Cancel</a>
        </div>
        <form (ngSubmit)="submit()">
            <div row>
                <div class="col-12 col-md-6">
                    <mat-form-field class="" appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput [disabled]="disabled" required placeholder="" type="text" [(ngModel)]="buchung.name" name="name">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="" appearance="fill">
                        <mat-label>Datum</mat-label>
                        <input matInput [disabled]="disabled" required [matDatepicker]="picker" placeholder="DD.MM.YYYY" [(ngModel)]="buchung.datum" name="datum">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div row>
                <div class="col">
                    <mat-form-field class="" appearance="fill">
                        <mat-label>Beschreibung</mat-label>
                        <textarea matInput [disabled]="disabled" [(ngModel)]="buchung.beschreibung" name="beschreibung"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div row>
                <app-filehandler [disabled]="disabled" [(belege)]="buchung.belege" class="w-100"></app-filehandler>
            </div>
            <div row>
                <div class="col-12 col-md-6">
                    <mat-form-field class="" appearance="fill">
                        <mat-label>Betrag</mat-label>
                        <input matInput currencyMask [disabled]="disabled" required [placeholder]="ausgabeEinnahme?'0 €':'- 0 €'" [options]="{prefix: ausgabeEinnahme?'':'- ', suffix: ' €', allowNegative: false}" [(ngModel)]="buchung.betrag" (keyup)="onKeyDown($event)" name="betrag">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6 pt-2 pt-md-4 pb-2 mt-0 pl-4">
                    <mat-label class="pr-2">{{ausgabeEinnahme?'Einnahme'+(disabled?'':' (Drücke - für Ausgabe)'):'Ausgabe'+(disabled?'':' (Drücke +für Einnahme)')}}</mat-label>
                    <!-- <mat-slide-toggle color="primary" [(ngModel)]="ausgabeEinnahme" name="ausgabeEinnahme" tabIndex="-1"></mat-slide-toggle>
                    <mat-label class="pl-2">Einnahme</mat-label> -->
                </div>
            </div>
            <div row>
                <div class="col-12 col-md-6">
                    <app-konto-selector [disabled]="disabled" label="Konto - {{ausgabeEinnahme?'HABEN':'SOLL'}}" [(konto)]="buchung.hauptkonto"></app-konto-selector>
                </div>
                <div class="col-12 col-md-6">
                    <app-konto-selector [disabled]="disabled" label="Gegenkonto - {{!ausgabeEinnahme?'HABEN':'SOLL'}}" [(konto)]="buchung.gegenkonto" [useStandardKonto]="standardKonto"></app-konto-selector>
                    <!-- <mat-label>{{standardGegenkonto | konto}}</mat-label> -->
                </div>
            </div>
            <div row>
                <div col>
                    <button [hidden]="disabled" mat-raised-button class="row col-12 col-sm-6 col-lg-3" color="primary" type="submit">Buchen</button>
                    <!-- <a [hidden]="disabled || !buchung.buchungsnummer" mat-raised-button class="row col-12 col-sm-6 col-lg-2" color="warn" (click)="cancel()">Cancel</a> -->
                </div>
            </div>
        </form>
    </div>
</div>