<div container class="pb-4">
    <div row class="pb-4">
        <div col>
            <h2>Jahresabschluss</h2>
        </div>
    </div>
    <div row class="py-2">
        <div col>
            <button mat-raised-button color="primary" (click)="journal()"><mat-icon>auto_stories</mat-icon> Buchungsjournal</button>
        </div>
    </div>
    <div row class="py-2">
        <div col>
            <button mat-raised-button color="primary" (click)="kontoblaetter()"><mat-icon>auto_stories</mat-icon> Kontoblätter</button>
        </div>
    </div>
    <!-- <div row class="py-2">
        <div col>
            <button mat-raised-button color="primary" (click)="salden()"><mat-icon>auto_stories</mat-icon> Saldenliste</button>
        </div>
    </div> -->
</div>